{% form_theme subscribeForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(subscribeForm) }}
        {{ form_widget(subscribeForm) }}
        <button type="submit" class="btn btn-primary">Subscribe!</button>
    {{ form_end(subscribeForm) }}
{% endblock %}

